* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}

.flex__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:white;
}

header {
    z-index: 1;
    color:white;
    font-size: 15px;
    background-color: rgb(22, 22, 24);
}

header::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(22, 22, 24); */
    opacity: 0.7;
    z-index: -1;
}

.container {
    width:90%;
    margin:0 auto;
}

#nav__ul {
    margin-right: 20px;
}

header nav .menu i{
    margin-left: 1em;
}

header nav .menu ul li {
    margin-left: 1.8em;
}

.burger {
    display: none;
}

.flex__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#nav__ul li:hover {
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.section-one {
    width: 100%;
    height: 650px;
    background: url(../images/section3-bg.jpg) center no-repeat;
    background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.big-text {
    color: white;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

.btn {
    background-color: #a8a6a1;
    color: white;
    padding: 25px 30px;
    border: none;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.section-two {
    background-color: dimgrey;
}

.normal-text {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.product-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.section-two .product-item {
    padding: 20px;
    height: 100%;
}

.section-two .product-item p {
    font-size: 25px;
}

.section-three {
    height: 450px;
    width: 100%;
    background: url(../images/section3-bg.jpg) center no-repeat;
    background-size: cover;
}

.section-four {
    background-color: dimgrey;
}

.section-four .product-item {
    width: 50%;
    padding: 10px; 
}

.section-four button {
    display: block;
    margin: auto;
}

.section-four .product-item .big-text {
    font-size: 30px;
}

.section-five {
    height: 300px;
    width: 100%;
    background: url(../images/section5.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-container {
    text-align: center;
}

.email-input {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}

.email-container .btn {
    padding: 10px 20px;
    border: none;
}

.section-six {
    padding: 20px;
    background-color: dimgrey;
}

.section-six .product-container .gift-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.gift-left {
    background: url(../images/giftcard-template.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

/* shop page css*/
#shop-header {
    background-color: #38383B;
}

#shop-header header {
    background-color: #38383B;
}

.shop-text {
    margin: 30px 0;
}

.shop-plant-container  {
    margin: 20px 0;
}


.shop-plant-item-row {
    display: flex;
    justify-content: space-around;
}

#shop-header .normal-text {
    padding: 10px;
}

.pic-bg {
    height: 400px;
    width: 100%;
    background: url(../images/section5.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-story-shop-text {
    width: 70%;
    margin: 20px auto;
}

.our-story-pic-section {
    text-align: center;
    width: 70%;
    margin: auto;
}

.our-story-pic {
    background: url(../images/plant-textures-2.jpg) center no-repeat;
    background-size: cover;
    height: 400px;
    margin: 20px 0;
}

.our-story-pic-section .normal-text-left {
    width: 40%;
    color: white;
    font-size: 20px;
    text-align: left;
}

.our-story-pic-section .normal-text {
    width: 50%;
    margin: auto;
    text-align: left;
}

#shop-header .section-four {
    background-color: #38383B;
    margin: 20px 0;
    text-align: center;
}

.read-more-link {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: dimgrey;
    display: block;
    padding: 20px ;
}

.read-more-link:hover {
    color: white;
    transition-duration: 1s;
}







@media only screen and (max-width: 800px) {
    header .container {
        position: relative;
    }

    .burger {
        display: block;
        position: absolute;
        right: 0.3em;
        top: 20%;
        font-size: 2em;
        z-index: 9;
        cursor: pointer;
    } 

    .menu {
        display: none;
        width: 30%;
        text-align: right;
    }

    .menu ul {
        /* padding: 0; */
        margin-right: 0;
        background-color: tomato;
    }

    header nav .menu .icons{
        width:90%;
        background-color: teal;

    }

    #nav__ul {
        margin-right: 0px;
    }

    .section-two .product-item p {
        font-size: 20px;
    }
    
    .product-container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-four .product-item {
        width: 100%;
    }

    .section-five .btn {
        margin: 10px;
    }

    .shop-plant-item-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.burgerMenu{
    display: flex;
    flex-direction: column;
    background-color: dimgrey;
    border-radius:5px;
    justify-content: center;
    position: absolute;
    top: 3.5em;
    right: 0.5em;
    padding: 1em -1em;

}

.burgerLi{
    margin:1em 0;
}

.burgerUl{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

