* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}

.flex__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:white;
}

header {
    z-index: 1;
    color:white;
    font-size: 15px;
    background-color: rgb(22, 22, 24);
}

header::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(22, 22, 24); */
    opacity: 0.7;
    z-index: -1;
}

.container {
    width:90%;
    margin:0 auto;
}

#nav__ul {
    margin-right: 20px;
}

header nav .menu i{
    margin-left: 1em;
}

header nav .menu ul li {
    margin-left: 1.8em;
}

.burger {
    display: none;
}

.flex__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#nav__ul li:hover {
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.section-one {
    width: 100%;
    height: 650px;
    background: url(../images/section3-bg.jpg) center no-repeat;
    background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.big-text {
    color: white;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

.btn {
    background-color: #a8a6a1;
    color: white;
    padding: 25px 30px;
    border: none;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.section-two {
    background-color: dimgrey;
}

.normal-text {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.product-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.section-two .product-item {
    padding: 20px;
    height: 100%;
}

.section-two .product-item p {
    font-size: 25px;
}

.section-three {
    height: 450px;
    width: 100%;
    background: url(../images/section3-bg.jpg) center no-repeat;
    background-size: cover;
}

.section-four {
    background-color: dimgrey;
}

.section-four .product-item {
    width: 50%;
    padding: 10px; 
}

.section-four button {
    display: block;
    margin: auto;
}

.section-four .product-item .big-text {
    font-size: 30px;
}

.section-five {
    height: 300px;
    width: 100%;
    background: url(../images/section5.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-container {
    text-align: center;
}

.email-input {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}

.email-container {
    padding: 10px 20px;
    border: none;
}

.section-six {
    padding: 20px;
    background-color: dimgrey;
}

.section-six .product-container .gift-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.gift-left {
    background: url(../images/giftcard-template.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

/* shop page css*/
#shop-header {
    background-color: #38383B;
}

#shop-header header {
    background-color: #38383B;
}

.shop-text {
    margin: 30px 0;
}

.shop-plant-container  {
    margin: 20px 0;
}


.shop-plant-item-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 100%;
}

.shop-plant-item {
    width: 22%;
}

.shop-plant-bg {
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    height: 300px;    
}

.lily {
    background-image: url(../images/1.jpg)
}

.lily:hover {
    background-image: url(../images/9.jpg);
    transition-duration: 0.8s;
}

.pencilPlant {
    background-image: url(../images/2.jpg)
}

.pencilPlant:hover {
    background-image: url(../images/10.jpg);
    transition-duration: 0.8s;
}

.alocasia {
    background-image: url(../images/3.jpg);
}

.alocasia:hover {
    background-image: url(../images/11.jpg);
    transition-duration: 0.8s;
}

.snake {
    background-image: url(../images/6.jpg);
}

.snake:hover {
    background-image: url(../images/12.jpg);
    transition-duration: 0.8s;
}

.orchid {
    background-image: url(../images/15.jpg);
}

.orchid:hover {
    background-image: url(../images/12.jpg);
    transition-duration: 0.8s;
}

.cactus {
    background-image: url(../images/4.jpg);
}

.cactus:hover {
    background-image: url(../images/13.jpg);
    transition-duration: 0.8s;
}

.palm {
    background-image: url(../images/7.jpg);
}

.palm:hover {
    background-image: url(../images/14.jpg);
    transition-duration: 0.8s;
}

.fern {
    background-image: url(../images/8.jpg);
}

.fern:hover {
    background-image: url(../images/15.jpg);
    transition-duration: 0.8s;
}


#shop-header .shop-plant-item .normal-text{
    padding: 2px;
}

#shop-header .normal-text {
    padding: 10px;
}

.pic-bg {
    height: 400px;
    width: 100%;
    background: url(../images/section5.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-story-shop-text {
    width: 70%;
    margin: 20px auto;
}

.our-story-pic-section {
    text-align: center;
    width: 70%;
    margin: auto;
}

.our-story-pic {
    background: url(../images/plant-textures-2.jpg) center no-repeat;
    background-size: cover;
    height: 400px;
    margin: 20px 0;
}

.our-story-pic-section .normal-text-left {
    width: 40%;
    color: white;
    font-size: 20px;
    text-align: left;
}

.our-story-pic-section .normal-text {
    width: 50%;
    margin: auto;
    text-align: left;
}

#shop-header .section-four {
    background-color: #38383B;
    margin: 20px 0;
    text-align: center;
}

.read-more-link {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: dimgrey;
    display: inline-block;
    padding: 20px ;
}

.read-more-link:hover {
    color: white;
    transition-duration: 0.7s;
}


.contact-bg {
    height: 100vh;
    background: url(../images/section5.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 50%;
    text-align: center;
}

#gift-card-purchase {
    background-color: #383838;

}

#gCard-value, #shop-plant-size-value, #shop-plant-qnt-value {
    padding: 15px 20px;
    width: 200px;
    background-color: #38383B;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}

select {
    appearance: none;
    cursor: pointer;
}

select:focus {
    outline: none;
}

.gCard-form {
    padding-top: 20px;
}

#gift-card {
    width: 200px;
    margin-top: 20px;
    margin-right: -75px;    
    padding: 15px 20px;
}

.sign-up {
    padding: 10px 20px;
}


#login-box {
    border: 1px solid #000;
    padding: 15px;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: white;
    color: dimgrey;
    display: none;
}

#login-box input {
    background-color: #fafafa;
    border: 1px solid dimgrey;
    width: 80%;
    padding: 10px;
    margin: 10px;
}

.input-row {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 10px;
    width: 80%;
}

#login-box .input-row  input {
    width: 45%;
    margin: 0px;
}

.get-in-touch-btn {
    background-color: #272727;
    /* margin: 10px auto; */
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: auto;
    padding: 10px;

}

.shop-navigation {
    padding: 40px 0;
}

.shop-navigation i {
    font-size: 10px;
}

.shop-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.shop-item-slider {
    width: 48%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-item-info {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prev-button, .next-button {
    font-size: 30px;
    color: white;
    background-color: transparent;
    padding: 0 10px;
    cursor: pointer;
}

.read-more-heading {
    width: 100%;
    color: white;
    margin: 30px auto;
    text-align: center;
}

.read-more-content {
    width: 60%;
    color: white;
    margin: 30px auto;
    text-align: center;
}

.read-more-img {
    height: 400px;
    width: 100%;
    background: url(../images/4.gif) center no-repeat;
    background-size: cover;
}




@media only screen and (max-width: 800px) {
    header .container {
        position: relative;
    }

    .burger {
        display: block;
        position: absolute;
        right: 0.3em;
        top: 20%;
        font-size: 2em;
        z-index: 9;
        cursor: pointer;
    } 

    .menu {
        display: none;
        width: 30%;
        text-align: right;
    }

    .menu ul {
        /* padding: 0; */
        margin-right: 0;
        background-color: tomato;
    }

    header nav .menu .icons{
        width:90%;
        background-color: teal;

    }

    #nav__ul {
        margin-right: 0px;
    }

    .section-two .product-item p {
        font-size: 20px;
    }
    
    .product-container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-four .product-item {
        width: 100%;
    }

    .section-five .btn {
        margin: 10px;
    }

    .shop-plant-item-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .shop-plant-item {
        width: 90%;
        margin: 0 auto 10px;
    }

    .contact-container {
        width: 70%;
    }

    .shop-item-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop-item-info, .shop-item-slider {
        width: 100%;
    }

    #login-box {
        width: 90%;
        left: 5%;
    }

    .read-more-content {
        width: 100%;
    }
}

.burgerMenu{
    display: flex;
    flex-direction: column;
    background-color: dimgrey;
    border-radius:5px;
    justify-content: center;
    position: absolute;
    top: 3.5em;
    right: 0.5em;
    padding: 1em -1em;

}

.burgerLi{
    margin:1em 0;
}

.burgerUl{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

